{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<style media="screen">



.wrapper-text {
  margin-bottom: 80px;
  background-color: #e9c46a;
}


.wrapper {
  margin-bottom: 80px;
}

.form-signin-inner {
  max-width: 105%;
  padding: 1px 1px 1px;
  margin: 0 auto;
  background-color: #4caf50;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-diary {
  max-width: 100%;
  padding: 10px 5px 17px;
  margin-top: -30px;
  background-color:#2a9d8f;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin {
  max-width: 95%;
  padding: 15px 25px 26px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.diary{
  max-width: 100%;
}

</style>
{% endblock %}
{% block jumbotron %}
<center><h3>Home</h3></center>
{% endblock %}
{% block body %}
<div class="wrapper" style="background-color:#e9c46a;">
  <form method="post" class="form-signin-diary">
    {% csrf_token %}
    <textarea style="background-color:#eee;color:#000;font-size:20px" placeholder="Write a post?" class="form-control" name="{{form.post.name}}" rows="14"></textarea>
    <br/>
    <div align="right">
      <button type="submit" style="background-color:#616161;color:#eee;padding-left:70px;padding-right:70px" class="btn btn-lg">post</button>
    </div>

  </form>

</div>

<div class="wrapper">

  {% for post in posts %}
  {% if user.get_full_name == post.user.get_full_name %}
  <div class = "form-signin">
    <h2><strong>{{ post.created }}</strong></h2>
    <h3>{{ post.post }}</h3>
    <div class="form-signin-inner">
      <h3>{{ post.reply }}</h3>
    </div>
    <p style="font-size:50%">Posted by {{ post.user.get_full_name }} </p>
  </div>
  {% endif %}
  {% endfor %}

</div>
{% endblock %}
