{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{% static "myApp/mE.png" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
  <title>base</title>
  {% endblock %}
  <style media="screen">

  .navbar{
    margin-bottom: 0;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #e5e5e5;
    text-align: center;
  }
  body{
    color:#14213d;
    font-size: 18px;
  }
</style>
</head>
<body style="background-color:#eee;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="{% static "myApp/mE.png" %}" alt="myEleanor" width="42" height="42" style="margin: -10px 0 0 0;"/>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
          {% url 'home:home' as home_url %}
          <li {% if request.get_full_path == home_url %}class="active"{% endif %}><a href="{% url 'home:home' %}">Home</a></li>
          {% url 'accounts:view_profile' as profile %}
          <li {% if request.get_full_path == profile %}class="active"{% endif %}><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
          {% url 'accounts:edit_profile' as edit_profile %}
          <li {% if request.get_full_path == edit_profile %}class="active"{% endif %}><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
          {% url 'accounts:change_password' as change_password %}
          <li {% if request.get_full_path == change_password %}class="active"{% endif %}><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% url 'accounts:logout' as logout %}
          <li {% if request.get_full_path == logout %}class="active"{% endif %}><a href="{% url 'accounts:logout' %}">Log out</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
          {% url 'accounts:reset_password' as reset_password %}
          <li {% if request.get_full_path == reset_password %}class="active"{% endif %}><a href="{% url 'accounts:reset_password' %}">Reset Password</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% url 'accounts:login' as login %}
          <li {% if request.get_full_path == login %}class="active"{% endif %}><a href="{% url 'accounts:login' %}">Login</a></li>
          {% url 'accounts:register' as register %}
          <li {% if request.get_full_path == register %}class="active"{% endif %}><a href="{% url 'accounts:register' %}">Register</a></li>
        </ul>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <div>
    <div class="jumbotron" style="background-color:#14213d;color:#e5e5e5;padding-top:10px;padding-bottom:15px">
      <div class="container-fluid">
        {% block jumbotron %}
        <h2>Random text</h2>
        {% endblock %}
      </div>
    </div>
  </div>
  {% block body %}
  <h1>Base</h1>
  {% endblock %}

</body>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
