<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block head %}
          <title>base</title>
        {% endblock %}
    </head>
    <body>
      <br>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">myEleanor</a>
              </div>
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                <li><a href="/accounts">Home</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
                <li><a href="/accounts/profile/edit">Edit Profile</a></li>
                <li><a href="/accounts/change-password">Change password</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/logout">Logout</a></li>
              </ul>

              {% else %}
              <ul class="nav navbar-nav">
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/accounts/reset-password">Forgot Password</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/register">Register</a></li>
              </ul>
              {% endif %}
            </div>
          </nav>
        {% block body %}
            <h1>Base</h1>
        {% endblock %}
    </body>
</html>
